* {
  font-family: sans-serif;
  font-size: 16px;
  border: none;
  font-weight: bold;
}

#waybar {
  background-color: #090d16;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar.hidden {
  opacity: 0.5;
}

#window,
#clock,
#battery,
#pulseaudio,
#power-profiles-daemon,
#temperature,
#language,
#network {
  color: #ffffff;
  padding: 0px 8px;
}

/* Left modules */
#workspaces {
  background-color: #090d16;
  border: none;
  box-shadow: none;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.15);
}

#workspaces button.focused,
#workspaces button.active {
  background-color: #1e293b;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #991b1b;
}

/* Center modules */
#window {
  background-color: #581c87;
  margin-right: 4px;
}

/* Right modules */
#network {
  background-color: #b45309;
}

#power-profiles-daemon {
  background-color: #374151;
}

#power-profiles-daemon.performance {
  background-color: #881337;
}

#power-profiles-daemon.balanced {
  background-color: #2563eb;
}

#power-profiles-daemon.power-saver {
  background-color: #166534;
}

#temperature {
  background-color: #134e4a;
}

#language {
  background-color: #1e3a8a;
}

#pulseaudio {
  background-color: #9d174d;
}

#battery {
  background-color: #065f46;
}

#clock {
  background-color: #4338ca;
}

#tray {
  background-color: #111622;
  padding: 4px 12px;
}

/* Global button and tooltip states */
button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

tooltip {
  border-radius: 8px;
  padding: 16px;
  background-color: #090d16;
  color: #ffffff;
}

tooltip label {
  padding: 5px;
  background-color: #090d16;
  color: #ffffff;
}
