/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 **/

* {
    background:     #282828FF;
    background-alt: #1D2021FF;
    foreground:     #EBDBB2FF;
    selected:       #B8BB26FF;
    active:         #83A598FF;
    urgent:         #FB4934FF;
    normal:         #928374FF;
}
